@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Great Girigalan Magic Show</h1>
    <p>Learn about building Web apps with ASP.NET Core</a>.</p>
</div>
